* {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #212121;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: -1px;
    color: #ffffff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .button {
    width: 344px;
    height: 69px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    background-color: #f8ff23;
    color: #000000;
    outline: 0;
    text-decoration: none;
    display: block;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    border: 2px solid transparent;
    border-radius: 30px;
  }
  .button:hover {
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 30px;
  }
  .button.white-button {
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 30px;
  }
  .button.white-button:hover {
    background-color: #f8ff23;
    border: 2px solid transparent;
    border-radius: 30px;
  }
.cars {
    background-color: #000000;
    padding: 130px 0;
  }
  .cars h2 {
    font-size: 65px;
    font-weight: normal;
  }
  .cars-content {
    display: flex;
    padding-top: 60px;
  }
  .cars-filter {
    margin-right: 77px;
    align-self: flex-start;
    position: sticky;
    top: 20px;
  }
  .cars-filter ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    list-style: none;
  }
  .cars-filter ul li {
    width: 127px;
    padding: 16px;
    text-align: center;
    border: 1px solid white;
    font-size: 16px;
    color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
  }
  .cars-filter ul li.active,
  .cars-filter ul li:hover {
    color: #f8ff23;
    border-color: #f8ff23;
  }
  .cars-items {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .car {
    background-color: #212121;
    padding: 20px;
    display: flex;
  }
  .car img {
    max-width: 568px;
  }
  .car-details {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
  }
  .car-details h4 {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  .car-details p {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: normal;
    color: #d4d4d4;
    height: 100px;
  }
  .car-action {
    margin-top: auto;
  }
  .car-action ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .car-period {
    font-size: 16px;
    line-height: 120%;
    color: #d4d4d4;
    margin-bottom: 5px;
  }
  
  .car-price {
    font-size: 24px;
    line-height: 100%;
  }
  .car-price span {
    font-size: 16px;
    line-height: 100%;
    color: #d4d4d4;
  }
  .car-action .button {
    width: 100%;
  }